In [127]:
# Importing dependencies

import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [20]:
credit_card_data = pd.read_csv('creditcard.csv')

In [21]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [22]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [26]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [27]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
credit_card_data['Class'].value_counts()

# 0 - Legit transactions
# 1 - Fraud transactions

Class
0    284315
1       492
Name: count, dtype: int64

In [38]:
# Separating data for analysis as the ratio of legit data to the fraudulent data is too less.

legit_transactions = credit_card_data[credit_card_data.Class == 0]
fraud_transactions = credit_card_data[credit_card_data.Class == 1]

In [39]:
print(legit_transactions.shape)
print(fraud_transactions.shape)

(284315, 31)
(492, 31)

In [ ]:
legit_transactions.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [42]:
fraud_transactions.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [45]:
# Compare values for both transactions

credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
# Undersampling of legit_transactions as they are around 3 lakhs in no. and only 500 in fraudulent

legit_sample = legit_transactions.sample(n=492)

In [57]:
legit_sample.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
188813,128142.0,1.977130,-0.178290,-1.275847,0.161817,0.333174,0.363260,-0.503770,0.179989,0.686762,...,-0.314229,-0.873993,0.318720,-0.317738,-0.523399,0.122007,-0.023850,-0.024354,25.94,0
89851,62753.0,-1.272339,0.322276,1.258354,-0.335046,0.958637,-1.332124,0.128978,0.076164,-0.321580,...,-0.196383,-0.551247,-0.104174,0.280192,-0.574000,-0.131782,0.313488,0.164496,0.89,0
4332,3760.0,1.325005,-0.809991,-0.959412,-1.584234,1.419297,3.288968,-1.117940,0.700098,0.355454,...,-0.254165,-0.919116,0.046413,0.922049,0.342520,-0.512596,-0.027397,0.022321,81.48,0
246958,153404.0,-1.039718,-0.335298,1.612284,1.060710,0.805258,0.422021,-0.838257,0.318957,0.459051,...,0.148143,0.546569,-0.495830,0.064199,0.367921,0.370628,0.051445,0.136949,11.50,0
134667,80911.0,1.220723,0.638451,-0.327341,1.108222,0.283380,-0.666264,0.219924,-0.105450,-0.395505,...,-0.013644,0.021873,-0.177787,-0.087647,0.722583,-0.326430,0.030536,0.037956,1.00,0

In [60]:
legit_sample['Class'].value_counts()

Class
0    492
Name: count, dtype: int64

In [67]:
# Concatenating 2 dataframes that are legit sample and fraud transactions

new_dataset = pd.concat([legit_sample , fraud_transactions], axis=0)

In [68]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
261468,160032.0,0.932019,0.991844,-2.720595,-0.691489,1.560697,-0.583713,0.313959,-3.258407,-0.756899,...,-0.892277,1.669727,-0.043003,0.175686,-0.152751,0.753565,0.194443,0.420840,2.00,0
142166,84595.0,-1.513752,0.263057,2.507520,-1.552046,-0.992729,0.775044,-0.389999,0.137820,0.929604,...,-0.732457,-0.726435,-0.345974,-0.389566,0.471506,1.040380,0.295581,0.139927,19.95,0
85014,60561.0,-0.741043,0.799743,0.408811,0.374953,0.986128,5.021792,-0.212899,0.143596,-0.022993,...,0.908968,0.323298,-0.157783,1.038385,-0.050004,-0.047713,0.102068,0.085813,169.16,0
84754,60447.0,-0.491859,0.539537,2.553822,0.933203,-0.697801,0.660350,-0.183266,0.440304,-0.286345,...,0.482386,1.376162,-0.026695,0.224427,-0.585723,-0.224005,0.217981,0.163748,47.46,0
16927,28298.0,-1.822444,-1.449610,3.324665,-0.118206,-0.603856,0.056272,-0.554127,0.337631,1.762433,...,0.147944,0.541882,0.134246,0.484488,0.418931,1.164749,0.023463,-0.068736,160.95,0

In [73]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [74]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
261468,160032.0,0.932019,0.991844,-2.720595,-0.691489,1.560697,-0.583713,0.313959,-3.258407,-0.756899,...,-0.892277,1.669727,-0.043003,0.175686,-0.152751,0.753565,0.194443,0.420840,2.00,0
142166,84595.0,-1.513752,0.263057,2.507520,-1.552046,-0.992729,0.775044,-0.389999,0.137820,0.929604,...,-0.732457,-0.726435,-0.345974,-0.389566,0.471506,1.040380,0.295581,0.139927,19.95,0
85014,60561.0,-0.741043,0.799743,0.408811,0.374953,0.986128,5.021792,-0.212899,0.143596,-0.022993,...,0.908968,0.323298,-0.157783,1.038385,-0.050004,-0.047713,0.102068,0.085813,169.16,0
84754,60447.0,-0.491859,0.539537,2.553822,0.933203,-0.697801,0.660350,-0.183266,0.440304,-0.286345,...,0.482386,1.376162,-0.026695,0.224427,-0.585723,-0.224005,0.217981,0.163748,47.46,0
16927,28298.0,-1.822444,-1.449610,3.324665,-0.118206,-0.603856,0.056272,-0.554127,0.337631,1.762433,...,0.147944,0.541882,0.134246,0.484488,0.418931,1.164749,0.023463,-0.068736,160.95,0

In [75]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [76]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94486.573171,-0.102191,0.018846,0.072340,0.096527,0.026711,0.146168,0.118727,-0.121829,-0.043854,...,-0.016830,-0.020033,0.117292,0.041042,-0.014134,-0.017220,0.040523,-0.001014,0.002339,100.709492
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
# Splitting the data into features and targets

X = new_dataset.drop(['Class'], axis=1)
Y = new_dataset['Class']

In [80]:
print (X)

            Time        V1        V2        V3        V4        V5        V6  \
261468  160032.0  0.932019  0.991844 -2.720595 -0.691489  1.560697 -0.583713
142166   84595.0 -1.513752  0.263057  2.507520 -1.552046 -0.992729  0.775044
85014    60561.0 -0.741043  0.799743  0.408811  0.374953  0.986128  5.021792
84754    60447.0 -0.491859  0.539537  2.553822  0.933203 -0.697801  0.660350
16927    28298.0 -1.822444 -1.449610  3.324665 -0.118206 -0.603856  0.056272
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
261468  0.313959 -3.258407 -0.756899  ...  0.474642 -0.892277  1.669727
142166 -0.389999  0.137820  0.929604  ...  0.133668 -0.732457 -0.726435
85014  -0.212899  0.143596 -0.022993  ... -0.057471  0.908968  0.323298
84754  -0.183266  0.440304 -0.286345  ...  0.075527  0.482386  1.376162
16927  -0.554127  0.337631  1.762433  ...  0.707716  0.147944  0.541882
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
261468 -0.043003  0.175686 -0.152751  0.753565  0.194443  0.420840    2.00
142166 -0.345974 -0.389566  0.471506  1.040380  0.295581  0.139927   19.95
85014  -0.157783  1.038385 -0.050004 -0.047713  0.102068  0.085813  169.16
84754  -0.026695  0.224427 -0.585723 -0.224005  0.217981  0.163748   47.46
16927   0.134246  0.484488  0.418931  1.164749  0.023463 -0.068736  160.95
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [81]:
print (Y)

261468    0
142166    0
85014     0
84754     0
16927     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [86]:
# Split the data into Training and Testing data

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [87]:
print (X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [126]:
# Logistic Regression Model Training (Logistic Regression = Binary Classification)

model = LogisticRegression(max_iter=1000)

In [ ]:
model.fit(X_train, Y_train)

In [117]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [119]:
print ('Accuracy on Training Data:', training_data_accuracy)

Accuracy on Training Data: 0.9174078780177891

In [ ]:
model.fit(X_test, Y_test)

In [123]:
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [124]:
print ('Accuracy on Testing Data:', testing_data_accuracy)

Accuracy on Testing Data: 0.9796954314720813